
  <!--  Scripts-->
  <script src="assets/js/lib/jquery-3.3.1.min.js"></script>
  <%# <script src="assets/js/lib/materialize.js"></script> %>
  <%# <script src="assets/js/lib/init.js"></script> %>
  <script type="text/javascript" src="assets/js/todos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>
